.back_arrow{
    margin: 17px;
}
.header_label{
    width: 85%;
    float: right;
    margin: 10px 0px;
    font-size: 19px;
    font-family: -webkit-pictograph;
}

.login_page{
    background: url(../../assets/travelbg.JPG);
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    color:white;
    padding: 30% 0;

    .input_label{
        margin: 5px 10px 0;
        font-family: -webkit-pictograph;
    
    }
    .inputbox{
        border: 1px white solid !important;
        border-radius: 17px 0px 17px 0px;
        width: 95%;
        margin: 8px auto;
    }
    .loginbtn{
        width: 95%;
        margin: 15px 8px 0;
    }    
}

.footer_section{
    font-size: 19px;
    text-align: center;
    font-family: -webkit-pictograph;
    color: white;
}