.header_label{
    width: 60%;
    float: left;
    margin: 7px 5px;
}
.form_label{
font-size: 14px;
white-space: pre-line;
}
.regButton{
    width: 100%;
}
.footer_section{
    font-size: 14px;
    text-align: center;
}