<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">



<ion-header>
	<ion-toolbar>
		<ion-button class="back_button" (click)="backToHome()">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</ion-button>
		<ion-title class="header_label">Walkin Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="scroll-content">
	<form [formGroup]="validatecustomer" (ngSubmit)="logForm()">
		<ion-item>
			<ion-label>Required Service</ion-label>
			<ion-select placeholder="select" [(ngModel)]="selectService" formControlName="requiredService">
				<ion-select-option value="airticket">Air Ticket</ion-select-option>
				<ion-select-option value="visa">Visa Assistance</ion-select-option>
				<ion-select-option value="forex">Forex</ion-select-option>
				<ion-select-option value="hotelbooking">Hotel Booking</ion-select-option>
				<ion-select-option value="other">Other</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label position="floating">Name</ion-label>
			<ion-input type="text" [(ngModel)]="name" formControlName="customerName"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Email</ion-label>
			<ion-input type="text" [(ngModel)]="email" formControlName="email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Phone</ion-label>
			<ion-input type="text" [(ngModel)]="phone" formControlName="phone"></ion-input>
		</ion-item>
		<ion-button class="regButton" type="submit" [disabled]="!validatecustomer.valid">Register</ion-button>

	</form>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title class="footer_section">Have an account? Log In</ion-title>
	</ion-toolbar>
</ion-footer>