<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">



<ion-header>
	<ion-toolbar>
		<ion-title class="header_label">Walkin Customer</ion-title>
		<ion-button color="primary">Back</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="scroll-content">

	<ion-item>
		<ion-label position="floating">First Name</ion-label>
		<ion-input type="text"  class="form-control" placeholder=""></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Last Name</ion-label>
		<ion-input class="form-control" placeholder=""></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Email</ion-label>
		<ion-input class="form-control" placeholder=""></ion-input>
	</ion-item>
	<ion-item text-wrap>
		<ion-label class="form_label">
			We'll never share your email with anyone else.
		</ion-label>
	</ion-item>
	<ion-item>
		<ion-label class="form_label">Male</ion-label>
		<ion-radio slot="start" value="Male"></ion-radio>
		
	</ion-item>

	<ion-item>
		<ion-label class="form_label">Female</ion-label>
		<ion-radio slot="start" value="Female"></ion-radio>
	</ion-item>
	<ion-item>
		<ion-label class="form_label">City</ion-label>
		<ion-input class="form-control"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label class="form_label">Country</ion-label>
		<ion-select placeholder="select">
			<ion-select-option value="f">India</ion-select-option>
			<ion-select-option value="m">United States</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label class="form_label">Create password</ion-label>
		<ion-input class="form-control"></ion-input>
	</ion-item>
	<ion-button class="regButton">Register</ion-button>
	<ion-item text-wrap>
		<ion-label class="form_label">
			By clicking the sign up button you confirm that you accept our Terms of use and Privacy Policy.
		</ion-label>
	</ion-item>
</ion-content>

	<ion-footer>
		<ion-toolbar>
			<ion-title class="footer_section">Have an account? Log In</ion-title>
		</ion-toolbar>
	</ion-footer>
