<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">



<ion-header>
	<ion-toolbar color="secondary" class="traveltoolbar-container">
		<i class="fa fa-chevron-left back_arrow" (click)="backToHome()" aria-hidden="true" color="light"></i>
		<ion-title class="header_label">Walkin Customer</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="landingPage">
		<form [formGroup]="validatecustomer" (ngSubmit)="logForm()">

			<label class="input_label">Required Service</label>
			<ion-select class="inputbox" placeholder="Select" [(ngModel)]="selectService" formControlName="requiredService" (ionChange)="selectedService($event)">
				<ion-select-option value="airticket">Air Ticket</ion-select-option>
				<ion-select-option value="visa">Visa Assistance</ion-select-option>
				<ion-select-option value="forex">Forex</ion-select-option>
				<ion-select-option value="hotelbooking">Hotel Booking</ion-select-option>
				<ion-select-option value="other">Other</ion-select-option>
			</ion-select>

			<label class="input_label">Name</label>
			<ion-input type="text" class="inputbox" [(ngModel)]="name" formControlName="customerName"></ion-input>

			<label class="input_label" *ngIf="showcommentbox">Comment</label>
			<ion-input type="text" class="inputbox" [(ngModel)]="comment" *ngIf="showcommentbox" formControlName="customerName"></ion-input>

			<label class="input_label">Email</label>
			<ion-input type="text" class="inputbox" [(ngModel)]="email" formControlName="email"></ion-input>

			<label class="input_label">Phone</label>
			<ion-input type="text" class="inputbox" [(ngModel)]="phone" formControlName="phone"></ion-input>

			<ion-button color="light" type="submit" class="regButton" [disabled]="!validatecustomer.valid">Register</ion-button>
		</form>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar color="secondary">
		<ion-title color="secondary" class="footer_section">Have an account? Log In</ion-title>
	</ion-toolbar>
</ion-footer>