<ion-nav #navCtrl ></ion-nav>
<div class="row" *ngIf="showSplash">
  <div class="jackInTheBox">
  <img class="logo" src="../../assets/dashboard.svg" />
  </div>
  <div class="">
  <label class="logo_label">TOURS</label>
  </div>
</div>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!showSplash">
    <button type="button" ion-button class="button_panel" (click)="goToMyPage()">SIGN UP</button>
    <button type="button" class="button_panel">LOGIN</button>
  </div>
</ion-content>