<div class="logo_section" *ngIf="showSplash">
  
  <div class="logo_name">
    <label class="logo_label">M</label>
    <label class="logo_label">I</label>
    <label class="logo_label">L</label>
    <label class="logo_label">E</label>
    <label class="logo_label">Z</label>
    <label class="logo_label">T</label>
    <label class="logo_label">R</label>
    <label class="logo_label">A</label>
    <label class="logo_label">V</label>
    <label class="logo_label">E</label>
    <label class="logo_label">L</label>
  </div>

</div>

<ion-content>
  <div class="homePage" *ngIf="!showSplash">
    <div class="quotes">
      <h3 class="discover_label">DISCOVER THE WORLD</h3>
      <h3 class="discover_label">TAKE MEMORIES.</h3>
      <h3 class="discover_label"> LEAVE ONLY FOOTPRINTS</h3>
    </div>
    <div class="Button_section">
      <button type="button" ion-button class="button_panel" (click)="goToMyPage()" routerDirection="forward">Walkin User</button>
      <button type="button" ion-button class="button_panel" (click)="goToAgentAsUserPage()" routerDirection="forward">Agent As User</button>
    </div>
  </div>
</ion-content>