.logo_section{
  background: url(../../assets/travelbg.JPG);
  background-repeat: no-repeat;
      position: relative;
      height: 100%;
      width: 100%;
      background-size: cover;
  
.logo_name{
    display: flex;
    justify-content: space-evenly;
    margin: 50% 0;

.logo_label{
  background: white;
  padding: 7px 6px 5px;
  color: #0E142C;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px 10px 2px 9px;
}
}
}
.homePage{
    background: url(../../assets/travelbg.JPG);
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    .quotes{
      color:white;
      padding: 30% 0 0 0;
      box-sizing: border-box;
    
      .discover_label{
        font-weight: 800;
        font-size: 20px;
        margin: 0px 10px 15px 10px;
        font-family: cursive;
        text-align: center;
      }
    }
    .Button_section{
        margin: 35px 0px;
      
      .button_panel{
        padding: 10px;
        border-radius: 4px;
        margin: 10px 8px;
        font-weight: 500;
        font-size: 18px;
        width: 95%;
        background: white;
      }
    }
  }    